.black { background-color: #000000;}
.blue { background-color: #1e90ff;}
.orange { background-color: #ff8c00;}
.purple { background-color: #9400d3;}
.brown { background-color: #d2691e;}
.yellow { background-color: #ffd700;}
.red { background-color: red;}